{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% crispy form %}
    {% for object in object_list %}
        {% if search_in == 'title' %}
            <li class="list-group-item">
                <span class="text-info">Title: </span> <span><a href="{% url 'movie_detail' object.id %}">{{ object.title }}</a></span><br>
        {% else %}
           <li class="list-group-item">
                <span class="text-info">Title: </span> <span><a href="{% url 'ticket' object.id %}">{{ object.name }} For Movie:{{ object.screening }}</a></span><br>
        {% endif %}
    {% empty %}
            <span class="text-info">No results found</span>
    {% endfor %}
{% endblock %}